
<%
    site.posts.each(function (post) {
%>
<article class="article-entry">
    <h2><a href="<%- post['permalink']%>" class="article-entry-title"><%- post['title'] %></a></h2>
    <h4><%- date(post['date'], null) %></h4>
    <section class="article-excerpt"><%- post['excerpt'] %></section>
    <footer class="article-footer">
        <a href="<%- post['permalink']%>" class="more-link">更多</a>
        <!-- <% if (post.tags && post.tags.length > 0) { %>
            <%- list_tags(post.tags, {
                show_count: false,
                class: 'article-tag'
            }) %>
        <% } %> -->
    </footer>
</article>

<%
})
%>
